<mat-toolbar color="primary">
  <span>Sharepic Generator</span>
  <button id="darkModeButton" mat-icon-button (click)="generalService.darkMode=!generalService.darkMode">
    <mat-icon>bedtime</mat-icon>
  </button>
</mat-toolbar>
<div id="localSharePicSets">
  <ng-container class="localSharePicSetOuter" *ngFor="let localSharePicSet of generalService.localSharePicSets">
    <a class="localSharePicSetLink" [routerLink]="'/'+localSharePicSet.id">
      <mat-card class="localSharePicSet">
        <div class="localSharePics">
          <div class="localSharePic" *ngFor="let localSharePic of localSharePicSet.sharePics | slice:0:4, let i = index">
            <app-sharepic-preview [sharePic]="localSharePic" [noElevation]="true" [outline]="true"></app-sharepic-preview>
          </div>
        </div>
        <button mat-icon-button (click)="generalService.deleteLocalSharePicSet($event, localSharePicSet)"><mat-icon>clear</mat-icon></button>
      </mat-card>
    </a>
  </ng-container>
  <a class="localSharePicSetLink createSharePicSetLink" [routerLink]="'/'+newSharePicSetId">
    <mat-card class="localSharePicSet">
      <div class="localSharePics">
        <div class="localSharePic">
          <mat-icon aria-hidden="false" aria-label="Create new SharePic" [inline]="true">add</mat-icon>
        </div>
      </div>
    </mat-card>
  </a>
</div>
<!--<a mat-fab color="primary" id="newSharePicSet" [routerLink]="'/'+newSharePicSetId"><mat-icon>add</mat-icon></a>-->
