<mat-toolbar color="primary">
  <a routerLink="/">Sharepic Generator</a>
  <!--<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>-->
  <button id="darkModeButton" mat-icon-button (click)="generalService.darkMode=!generalService.darkMode">
    <mat-icon>bedtime</mat-icon>
  </button>
  <button id="fullscreenButton" mat-icon-button (click)="document.fullscreenElement?document.exitFullscreen():document.querySelector('html')?.requestFullscreen()">
    <mat-icon *ngIf="!document.fullscreenElement">fullscreen</mat-icon>
    <mat-icon *ngIf="document.fullscreenElement">fullscreen_exit</mat-icon>
  </button>
</mat-toolbar>

<div class="editor">
  <div class="sidenav">
    <mat-button-toggle-group [(ngModel)]="sharePicSet.sharePics[activeSharePic].platform" id="platformConfig" class="configElement" (change)="triggerChangeFormatEvent();generalService.syncLocalSharePicSets()">
      <mat-button-toggle value="INSTAGRAM">Instagram</mat-button-toggle>
      <mat-button-toggle value="FACEBOOK">Facebook</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field class="configElement">
      <mat-label>Überschrift</mat-label>
      <input matInput [(ngModel)]="sharePicSet.sharePics[activeSharePic].title" placeholder="Überschrift" (change)="generalService.syncLocalSharePicSets()">
    </mat-form-field>

    <div id="subtitleConfig" class="configElement">
      <mat-form-field>
        <mat-label>Unterüberschrift</mat-label>
        <input matInput [(ngModel)]="sharePicSet.sharePics[activeSharePic].subtitle" placeholder="Unterüberschrift" (change)="generalService.syncLocalSharePicSets()">
      </mat-form-field>

      <mat-button-toggle-group [(ngModel)]="sharePicSet.sharePics[activeSharePic].subtitleColor" id="subtitleScheme" (change)="generalService.syncLocalSharePicSets()">
        <mat-button-toggle value="white"><span>Aa</span></mat-button-toggle>
        <mat-button-toggle value="green"><span>Aa</span></mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-form-field class="configElement">
      <mat-label>Stadt</mat-label>
      <input matInput [(ngModel)]="sharePicSet.sharePics[activeSharePic].city" placeholder="Stadt" (change)="generalService.syncLocalSharePicSets()">
    </mat-form-field>

    <div id="copyrightConfig" class="configElement">
      <mat-form-field>
        <mat-label>Copyright</mat-label>
        <input matInput [(ngModel)]="sharePicSet.sharePics[activeSharePic].copyright" 
          placeholder="Copyright" [matAutocomplete]="auto" (change)="generalService.syncLocalSharePicSets()">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="generalService.syncLocalSharePicSets()">
          <mat-option [value]="'© Greenpeace ' + sharePicSet.sharePics[activeSharePic].city">
            © Greenpeace {{sharePicSet.sharePics[activeSharePic].city}}
          </mat-option>
          <mat-option [value]="'© Greenpeace'">
            © Greenpeace
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-button-toggle-group [(ngModel)]="sharePicSet.sharePics[activeSharePic].copyrightColor" id="copyrightColor" (change)="generalService.syncLocalSharePicSets()">
        <mat-button-toggle value="black"><span>Aa</span></mat-button-toggle>
        <mat-button-toggle value="white"><span>Aa</span></mat-button-toggle>
        <mat-button-toggle value="white_with_shadow"><span>Aa</span></mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-form-field id="logoConfig" class="configElement">
      <mat-label>Logo</mat-label>
      <input matInput value="Logo" hidden>
      <mat-button-toggle-group [(ngModel)]="sharePicSet.sharePics[activeSharePic].logoScheme" id="logoScheme" (change)="generalService.syncLocalSharePicSets()">
        <mat-button-toggle value="wg"><span>Aa</span></mat-button-toggle>
        <mat-button-toggle value="gw"><span>Aa</span></mat-button-toggle>
        <mat-button-toggle value="gt"><span>Aa</span></mat-button-toggle>
        <mat-button-toggle value="wb"><span>Aa</span></mat-button-toggle>
        <mat-button-toggle value="bw"><span>Aa</span></mat-button-toggle>
        <mat-button-toggle value="bt"><span>Aa</span></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-form-field>

    <div>
      <div id="mainImageFileConfig" class="configElement">
        <mat-form-field>
          <mat-label>Bild</mat-label>
          <input matInput placeholder="Bild" disabled>
        </mat-form-field>

        <button mat-flat-button (click)="fileUpload.click()" color="primary">Bild auswählen</button>
        <input id="file" type="file" (change)="fileSelected($event)" #fileUpload>
      </div>

      <div id="mainImageConfig" class="configElement">
        <mat-button-toggle-group [(ngModel)]="sharePicSet.sharePics[activeSharePic].mainImageSize" id="mainImageSizeConfig" 
        (change)="triggerChangeFormatEvent();generalService.syncLocalSharePicSets()">
          <mat-button-toggle value="FULL_HEIGHT">
            <mat-icon>expand</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="FULL_WIDTH">
            <mat-icon>expand</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-button-toggle-group [(ngModel)]="sharePicSet.sharePics[activeSharePic].mainImageVerticalPositioning"
                                  id="mainImageVerticalConfig" (change)="triggerChangeFormatEvent();generalService.syncLocalSharePicSets()">
          <mat-button-toggle value="TOP">
            <mat-icon>vertical_align_top</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="CENTER">
            <mat-icon>vertical_align_center</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="BOTTOM">
            <mat-icon>vertical_align_bottom</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-button-toggle-group [(ngModel)]="sharePicSet.sharePics[activeSharePic].mainImageHorizontalPositioning"
                                  id="mainImageHorizontalConfig" (change)="triggerChangeFormatEvent();generalService.syncLocalSharePicSets()">
          <mat-button-toggle value="LEFT">
            <mat-icon>vertical_align_top</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="CENTER">
            <mat-icon>vertical_align_center</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="RIGHT">
            <mat-icon>vertical_align_bottom</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-button-toggle-group [(ngModel)]="sharePicSet.sharePics[activeSharePic].cropImage" id="mainImageCropConfig" 
        (change)="triggerChangeFormatEvent();generalService.syncLocalSharePicSets()">
          <mat-button-toggle [value]="false">
            <mat-icon>settings_overscan</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]="true">
            <mat-icon>photo_size_select_small</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div id="mainImageFilterConfig">
        Neutrales Grau
        <button mat-icon-button (click)="activateChoosingBalancingColor()" 
        [disabled]="!sharePicSet.sharePics[activeSharePic].mainImage">
          <mat-icon [color]="generalService.choosingBalanceColor?'primary':''">colorize</mat-icon>
        </button>

        Helligkeit
        <mat-slider thumbLabel [value]="sharePicSet.sharePics[activeSharePic].filterBrightness" min="0" max="2" step="0.01" tickInterval="0.5" 
        (input)="sharePicSet.sharePics[activeSharePic].filterBrightness=$event.value||0;applyFilters()" 
        [disabled]="!sharePicSet.sharePics[activeSharePic].mainImage"></mat-slider>
  
        Kontrast
        <mat-slider thumbLabel [value]="sharePicSet.sharePics[activeSharePic].filterContrast" min="0" max="2" step="0.01" tickInterval="0.5" 
        (input)="sharePicSet.sharePics[activeSharePic].filterContrast=$event.value||0;applyFilters()" 
        [disabled]="!sharePicSet.sharePics[activeSharePic].mainImage"></mat-slider>
  
        Sättigung
        <mat-slider thumbLabel [value]="sharePicSet.sharePics[activeSharePic].filterSaturation" min="0" max="2" step="0.01" tickInterval="0.5" 
        (input)="sharePicSet.sharePics[activeSharePic].filterSaturation=$event.value||0;applyFilters()" 
        [disabled]="!sharePicSet.sharePics[activeSharePic].mainImage"></mat-slider>
  
        <!--Schwarzwert
        <mat-slider thumbLabel [value]="sharePicSet.sharePics[activeSharePic].filterBlack" min="0" max="100" tickInterval="25"
        (input)="sharePicSet.sharePics[activeSharePic].filterBlack=$event.value||0;applyFilters()" 
        [disabled]="!sharePicSet.sharePics[activeSharePic].mainImage"></mat-slider>
  
        Weißwert
        <mat-slider thumbLabel [value]="sharePicSet.sharePics[activeSharePic].filterWhite" min="0" max="100" tickInterval="25"
        (input)="sharePicSet.sharePics[activeSharePic].filterWhite=$event.value||0;applyFilters()" 
        [disabled]="!sharePicSet.sharePics[activeSharePic].mainImage"></mat-slider>
  
        Unschärfe
        <mat-slider thumbLabel [value]="sharePicSet.sharePics[activeSharePic].unsharpMasking" step="0.1" min="0" max="10" tickInterval="25"
        (input)="sharePicSet.sharePics[activeSharePic].unsharpMasking=$event.value||0;applyFilters()" [displayWith]="formatLabel"
        [disabled]="!sharePicSet.sharePics[activeSharePic].mainImage"></mat-slider>-->
  
      </div>
    </div>

    <mat-form-field class="configElement">
      <mat-label>Hintergrundbild</mat-label>
      <mat-select [(ngModel)]="sharePicSet.sharePics[activeSharePic].backgroundImage" (selectionChange)="generalService.syncLocalSharePicSets()">
        <mat-option value="">-</mat-option>
        <mat-option value="meatfreemonday">Meatfree Monday</mat-option>
        <mat-option value="plasticfree">Plastikfreitag</mat-option>
        <mat-option value="peace">Frieden</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="configElement" appearance="fill">
      <mat-label>Text</mat-label>
      <textarea [(ngModel)]="sharePicSet.sharePics[activeSharePic].text" matInput cdkTextareaAutosize cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="10" (change)="generalService.syncLocalSharePicSets()"></textarea>
    </mat-form-field>
    
    <div id="exportConfig" class="configElement">
      <mat-form-field>
        <mat-label>Bildname</mat-label>
        <input matInput [(ngModel)]="sharePicSet.sharePics[activeSharePic].exportName" placeholder="Bildname" (change)="generalService.syncLocalSharePicSets()">
      </mat-form-field>
      <button mat-flat-button color="primary" color="accent" id="export" (click)="exportActiveSharePic()">Exportieren</button>
    </div>
  </div>
  <div class="sidenav-content mat-elevation-z6">
    <div id="previews">
      <div id="previewsGroup" [style.left.%]="-activeSharePic*100">
        <ng-container *ngFor="let sharepic of sharePicSet.sharePics; let i = index">
          <div class="previewOutlet">
            <app-sharepic-preview #SharePic [sharePic]="sharepic" (grabStatusChange)="grabbing=$event"></app-sharepic-preview>
          </div>
        </ng-container>
      </div>
    </div>
    <div id="controlButtons">
      <button mat-icon-button id="buttonPrevious" [disabled]="activeSharePic==0"
              (click)="switchActiveSharePic(-1)">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button id="buttonDelete" (click)="deleteSharePic()">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button id="buttonNext" *ngIf="activeSharePic<sharePicSet.sharePics.length-1"
              (click)="switchActiveSharePic(1)">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button mat-icon-button color="primary" id="buttonNew" *ngIf="activeSharePic==sharePicSet.sharePics.length-1"
              (click)="newSharePic()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div id="dotOverview">
      <ng-container *ngFor="let sharepic of sharePicSet.sharePics; let i = index">
        <div class="dot" [class.active]="i==activeSharePic" (click)="activeSharePic=i">
          <div></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div id="exportOverlay" *ngIf="exporting">
  <mat-spinner></mat-spinner>
</div>

<div id="fileDropOverlay" *ngIf="fileDragging">
  <div>
    <span class="material-icons-outlined">file_download</span>
    Datei hier ablegen
  </div>
</div>

