<div id="page" [class.dragging]="draggingElement" (mousemove)="drag($event)" (mouseup)="deactivateDragging()">
  <div id="container" class="{{plattform}}">
    <div id="preview" [class.saving]="saving" style="transform: scale({{scaleFactor}});">
      <img src="/assets/{{backgroundImage}}.jpg" *ngIf="backgroundImage">
      <div id="mainImageContainer" [class.cropped]="cropImage">
        <img class="mainImage" #mainImage (mousedown)="activateDragging($event, mainImage)"
             (wheel)="zoom($event)" style="height: {{zoomFactor*mainImage.naturalHeight}}px;">
      </div>
      <div class="titles">
        <div class="title" *ngIf="title">
          <span>
            {{title}}
          </span>
        </div>
        <div class="subtitle" *ngIf="subtitle" [class.inverted]="subtitleColor=='green'">
          <span>
            {{subtitle}}
          </span>
        </div>
      </div>
      <div class="copyright" [class.inverted]="copyrightColor=='white'" [class.shadow]="copyrightShadow">
        {{copyright}}
      </div>
      <img class="logo" src="/assets/{{logoColor}}.png" style="background-color: {{logoBackgroundColor}};">
    </div>
  </div>
  <div id="settings">
    <b>Plattform</b><br>
    <select [(ngModel)]="plattform" (change)="changeFormat()">
      <option value="INSTAGRAM">Instagram</option>
      <option value="FACEBOOK">Facebook</option>
    </select><br><br>

    <br><b>Überschrift</b><br>
    Text: <input [(ngModel)]="title"><br><br>

    <b>Unterüberschrift</b><br>
    Text: <input [(ngModel)]="subtitle"><br>
    Farbschema:
    <select [(ngModel)]="subtitleColor">
      <option value="white">Weiß auf grün</option>
      <option value="green">Grün auf weiß</option>
    </select><br><br>

    <b>Copyright</b><br>
    Text: <input [(ngModel)]="copyright"><br>
    Farbe:
    <select [(ngModel)]="copyrightColor">
      <option value="white">Weiß</option>
      <option value="black">Schwarz</option>
    </select><br>
    <input type="checkbox" [(ngModel)]="copyrightShadow"> Schatten aktivieren<br><br>

    <b>Logo</b><br>
    Farbe:
    <select [(ngModel)]="logoColor">
      <option value="logo_gpka_g">Grün</option>
      <option value="logo_gpka_b">Schwarz</option>
      <option value="logo_gpka_w">Weiß</option>
    </select><br>
    Hintergrundfarbe:
    <select [(ngModel)]="logoBackgroundColor">
      <option value="transparent">-</option>
      <option value="#73be1e">Grün</option>
      <option value="black">Schwarz</option>
      <option value="white">Weiß</option>
    </select><br><br>

    <b>Bild</b><br>
    <input id="file" type="file" (change)="loadImage($event)"><br>
    Größe:
    <select [(ngModel)]="mainImageSize" (change)="resetImage()">
      <option value="FULL_HEIGHT">Volle Höhe</option>
      <option value="FULL_WIDTH">Voll Breite</option>
      <option value="INDIVIDUAL">Individuell</option>
    </select><br>
    Horizontale Positionierung:
    <select [(ngModel)]="mainImageHorizontalPositioning" (change)="resetImage()">
      <option value="LEFT">Links</option>
      <option value="CENTER">Mitte</option>
      <option value="RIGHT">Rechts</option>
      <option value="INDIVIDUAL">Individuell</option>
    </select><br>
    Vertikale Positionierung:
    <select [(ngModel)]="mainImageVerticalPositioning" (change)="resetImage()">
      <option value="TOP">Oben</option>
      <option value="CENTER">Mitte</option>
      <option value="BOTTOM">Unten</option>
      <option value="INDIVIDUAL">Individuell</option>
    </select><br>
    <input type="checkbox" [(ngModel)]="cropImage" (change)="changeFormat()">
    Bild auf zentralen Bereich zuschneiden<br><br>

    <b>Hintergrundbild</b><br>
    <select [(ngModel)]="backgroundImage">
      <option value="">-</option>
      <option value="meatfreemonday">Meatfree Monday</option>
      <option value="plasticfree">Plastikfreitag</option>
      <option value="peace">Frieden</option>
    </select><br><br>

    <button (click)="save()">Speichern</button><br>
  </div>
</div>
