<div id="mainImage">
  <div id="titles">
    <div id="title">
      <span>
        {{title}}
      </span>
    </div>
    <div id="subtitle">
      <span>
        {{subtitle}}
      </span>
    </div>
  </div>
  <div id="copyright">
    © Unverpackt-Foodcoop Karlsruhe
  </div>
  <img id="logo" src="/assets/gpka_logo.png">
</div>
<div id="settings">
  Überschrift: <input [(ngModel)]="title"><br>
  Unterüberschrift: <input [(ngModel)]="subtitle"><br>
  <button (click)="save()">Speichern</button><br>
</div>
