:host {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". mainImage ." ". settings .";
}

#mainImage {
  position: relative;
  grid-area: mainImage;
  width: 1200px;
  height: 1200px;
  font-family: "helvetica";
  font-weight: bold;
  background-color: white;
  background-image: url(/assets/test_background.png);
  background-size: cover;
  background-position: center center;
}

#titles {
  position: absolute;
  top: 85px;
  left: 45px;
  transform: rotate(-5deg);
  transform-origin: top left;
}

#title {
  border-top: solid 80px #fefe00;
  border-right: solid 15px transparent;
  height: 0;
  display: inline-block;
  font-size: 65px;
  line-height: 80px;
  padding: 0 15px;
}

#title span {
  position: relative;
  top: -80px;
}

#subtitle {
  position: absolute;
  top: 110px;
  left: 0;
  border-top: solid 80px #73bd1e;
  border-right: solid 15px transparent;
  height: 0;
  display: inline-block;
  font-size: 55px;
  line-height: 80px;
  padding: 0 15px;
  color: white;
  white-space: nowrap;
}

#subtitle span {
  position: relative;
  top: -80px;
}

#settings {
  grid-area: settings;
  color: white;
}

#copyright {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: white;
  font-size: 21px;
}

#logo {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
