
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");


@font-face {
  font-family: "Helvetica Neue LT";
  src: url("/assets/Helvetica-Neue-LT-65-Medium.woff") format('woff');
  font-weight: 65;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue LT";
  src: url("/assets/Helvetica-Neue-LT-55-Roman.woff") format('woff');
  font-weight: 55;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue LT";
  src: url("/assets/Helvetica-Neue-LT-45-Light.woff") format('woff');
  font-weight: 45;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue LT";
  src: url("/assets/Helvetica-Neue-LT-35-Thin.woff") format('woff');
  font-weight: 35;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue LT', sans-serif;
}
