@use '@angular/material' as mat;

@include mat.core();

$black-87-opacity: rgba(0, 0, 0, 0.87);

$green: (
  50 : #eef7e4,
  100 : #d5ebbc,
  200 : #b9de8f,
  300 : #9dd162,
  400 : #88c740,
  500 : #73bd1e,
  600 : #6bb71a,
  700 : #60ae16,
  800 : #56a612,
  900 : #43980a,
  A100 : #daffc6,
  A200 : #b9ff93,
  A400 : #98ff60,
  A700 : #87ff47,
  contrast: (
    50 : $black-87-opacity,
    100 : $black-87-opacity,
    200 : $black-87-opacity,
    300 : $black-87-opacity,
    400 : $black-87-opacity,
    500 : $black-87-opacity,
    600 : $black-87-opacity,
    700 : $black-87-opacity,
    800 : #ffffff,
    900 : #ffffff,
    A100 : $black-87-opacity,
    A200 : $black-87-opacity,
    A400 : $black-87-opacity,
    A700 : $black-87-opacity,
  )
);

$orange: (
  50 : #fdf2e0,
  100 : #fbdfb3,
  200 : #f9ca80,
  300 : #f6b54d,
  400 : #f4a526,
  500 : #f29500,
  600 : #f08d00,
  700 : #ee8200,
  800 : #ec7800,
  900 : #e86700,
  A100 : #ffffff,
  A200 : #ffe9dc,
  A400 : #ffcaa9,
  A700 : #ffba90,
  contrast: (
    50 : $black-87-opacity,
    100 : $black-87-opacity,
    200 : $black-87-opacity,
    300 : $black-87-opacity,
    400 : $black-87-opacity,
    500 : $black-87-opacity,
    600 : $black-87-opacity,
    700 : $black-87-opacity,
    800 : $black-87-opacity,
    900 : $black-87-opacity,
    A100 : $black-87-opacity,
    A200 : $black-87-opacity,
    A400 : $black-87-opacity,
    A700 : $black-87-opacity,
  )
);

$pink: (
  50 : #f7e1eb,
  100 : #ecb3ce,
  200 : #df80ad,
  300 : #d24d8c,
  400 : #c82773,
  500 : #be015a,
  600 : #b80152,
  700 : #af0148,
  800 : #a7013f,
  900 : #99002e,
  A100 : #ffc4d1,
  A200 : #ff91a9,
  A400 : #ff5e82,
  A700 : #ff456e,
  contrast: (
    50 : $black-87-opacity,
    100 : $black-87-opacity,
    200 : $black-87-opacity,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : $black-87-opacity,
    A200 : $black-87-opacity,
    A400 : $black-87-opacity,
    A700 : $black-87-opacity,
  )
);



$my-primary: mat.define-palette($green);
$my-accent: mat.define-palette($orange);
$my-warn: mat.define-palette($pink);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn
 )
));

@include mat.all-component-themes($my-theme);

$my-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($my-dark-theme);
}